{{define "content"}}
<h2>TODO PAGE</h2>

{{ $todo := .Todo }}
{{ $token := .Token }}
<!-- TODO: tokenをmetaタグにまとめれない？ -->
<form action="{{ $todo.UUID }}" method="post">
    <input type="hidden" name="_token" value="{{ $token }}">
    <input type="hidden" name="uuid" value="{{ $todo.UUID }}">
    <input type="text" name="name">
    <button type="submit">create item</button>
</form>
<ul>
    {{ range $v, $item := $todo.Items }}
    <li>
        <form class="inline" action="{{ $todo.UUID }}" method="post">
            <input type="hidden" name="_token" value="{{ $token }}">
            <input type="hidden" name="id" value="{{$item.ID}}">

            <button class="item-button" data-method="DONE">DONE</button>

            <input type="text" name="name" value="{{ $item.Name }}">

            <button class="item-button" data-method="PUT">edit</button>
            <button class="item-button" data-method="DELETE">delete</button>
            {{ if $item.Done }}
            DONE!
            {{ end }}
        </form>
    </li>
    {{ else }}
</ul>
{{ end }}

<script src="/assets/ts/todo.js"></script>
{{end}}